apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
commonLabels:
  env: prod
replicas:
  - name: nginx
    count: 3
images:
  - name: nginx
    newName: nginx
    newTag: "1.26-alpine"
