# Copy file này thành terraform.tfvars và chỉnh giá trị
# cp terraform.tfvars.example terraform.tfvars

resource_group_name = "rg-aks-demo"
location            = "southeastasia"
cluster_name        = "my-aks"

# Tùy chọn: VNet, node
# vnet_address_space   = "10.0.0.0/16"
# subnet_address_prefix = "10.0.1.0/24"
# node_vm_size        = "Standard_D2s_v3"
# node_count          = 2
# node_min_count      = 1
# node_max_count      = 3
