apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
resources:
  - ../../base
commonLabels:
  env: dev
replicas:
  - name: nginx
    count: 1
images:
  - name: nginx
    newName: nginx
    newTag: "1.25-alpine"
